* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
}
body {
  background-color: grey;
}
.maindiv {
  width: 370px;
  height: 150px;
  border: 1px solid grey;
  margin: 100px auto;
  background-color: rgb(63, 61, 61);
}
#unit1 {
  margin: 10px 10px;
  width: 350px;
  height: 35px;
  background-color: grey;
  color: white;
}
#input1,
#input2 {
  margin: 2px 10px;
  width: 155px;
  height: 25px;
  background-color: rgb(63, 61, 61);
  color: white;
}
#unit1:hover {
  background-color: rgb(0, 0, 0);
}
.a1:hover,
.a2:hover,
#length1:hover,
#length2:hover {
  background-color: rgb(0, 0, 0);
}

.a1,
.a2,
#length1,
#length2 {
  display: none;
  width: 169px;
  height: 35px;
  background-color: rgb(63, 61, 61);
  margin-top: 5px;
  margin-left: 10px;
  color: aliceblue;
}
